altair
attrs
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
comtypes
Flask
gitdb
GitPython
idna
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
MouseInfo
narwhals
numpy
packaging
pandas
pillow
protobuf
pyarrow
PyAutoGUI
pycparser
pydeck
PyGetWindow
Pygments
pyjokes
PyMsgBox
pyperclip
pypiwin32
PyRect
PyScreeze
python-dateutil
pyttsx3
pytweening
pytz
pywhatkit
pywin32
referencing
requests
rich
rpds-py
six
smmap
sounddevice
soupsieve
SpeechRecognition
streamlit
tenacity
toml
tornado
typing_extensions
tzdata
urllib3
watchdog
Werkzeug
wikipedia
